# Credit Risk Evaluator

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

## Retrieve the Data

The data is located in the Challenge Files Folder:

* `lending_data.csv`

Import the data using Pandas. Display the resulting dataframe to confirm the import was successful.

In [3]:
# Import the data
file_path = Path("Resources/lending_data.csv")
df = pd.read_csv(file_path)
df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

## Predict Model Performance

You will be creating and comparing two models on this data: a Logistic Regression, and a Random Forests Classifier. Before you create, fit, and score the models, make a prediction as to which model you think will perform better. You do not need to be correct! 

Write down your prediction in the designated cells in your Jupyter Notebook, and provide justification for your educated guess.

Out of Logistic Regression and Random Forests Classifier, I thing that Random Forests Classifier will achieve a higher accuracy in predicting data for this dataset this is because I dont think this data will have 2 clusters in specific area that can easily be divided by a line due to making credit decisions being a difficult process.

## Split the Data into Training and Testing Sets

In [5]:
# Split the data into X_train, X_test, y_train, y_test
y = df["loan_status"].values
X = df.drop("loan_status", axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=22)

In [6]:
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
64115,10600.0,7.642,52500,0.428571,5,1,22500
56542,9200.0,7.015,46600,0.356223,3,0,16600
18262,11400.0,7.961,55500,0.459459,5,1,25500
49611,9900.0,7.343,49700,0.396378,4,0,19700
11284,10600.0,7.623,52300,0.426386,5,1,22300

In [7]:
X_test.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
3825,10600.0,7.629,52400,0.427481,5,1,22400
66317,9200.0,7.028,46700,0.357602,3,0,16700
9768,7800.0,6.451,41300,0.273608,2,0,11300
74104,9700.0,7.238,48700,0.383984,4,0,18700
75373,18400.0,10.958,83700,0.641577,12,2,53700

## Create, Fit and Compare Models

Create a Logistic Regression model, fit it to the data, and print the model's score. Do the same for a Random Forest Classifier. You may choose any starting hyperparameters you like. 

Which model performed better? How does that compare to your prediction? Write down your results and thoughts in the designated markdown cell.

In [8]:
# Train a Logistic Regression model and print the model score
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [9]:
classifier.fit(X_train, y_train)

LogisticRegression()

In [10]:
print(f"Training Score: {classifier.score(X_train, y_train)}")
print(f"Testing Score: {classifier.score(X_test, y_test)}")

Training Score: 0.9919865180905214
Testing Score: 0.9922616591002889

In [12]:
# Train a Random Forest Classifier model and print the model score
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state = 22).fit(X_train_scaled, y_train)

In [13]:
print(f"Training Score: {clf.score(X_train_scaled, y_train)}")
print(f"Testing Score: {clf.score(X_test_scaled, y_test)}")

Training Score: 0.9973689640940983
Testing Score: 0.991900536524969

While the training score for the Random Forest Model was higher than that of the Logistic Regression model, the testing score was higher on the Logistic Regression model. However both models gave accuracy scores of greater than 99% making them both successful.